body {
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
}

/* header/navigation */

header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #A10702;
    color: #fceca6;
}

h1,
h2 {
    text-align: left;
    margin-left: 1rem;
}

nav {
    max-width: 700px;
    margin: 1rem auto;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color: #fceca6;
}

#menu.open::before {
    content: "X";
    color: #fceca6;
}

.navigation {
    display: flex;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #1b2021;
    color: #77ba99;
}

.open a {
    display: block;
    background-color: #fceca6;
    color: #A10702;
    text-decoration: none;
    padding: .5rem;
    border-radius: 2px;
    margin: 3px;
}

.contactUs {
    margin: 1rem;
    text-align: right;
}

.contactUs p {
    padding: 0;
    margin: 0;
    font-size: small;
}

/* Forum */
form h2 {
    margin-left: 1rem;
    margin-top: 5rem;
}

fieldset {
    margin: 0 10rem 0 1rem;
    border-color: #1b2021;
}

.recipieinput label,
div {
    font-size: medium;
    color: #A10702;
    font-weight: 600;
}

.recipieForm label,
div {
    display: block;
    padding-top: .5rem;
}

.recipieForm input[type="text"],
.recipieForm input[type="email"] {
    display: block;
    border: 1px solid #1b2021;
    border-radius: 6px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.recipieForm input[type="radio"] {
    margin: 6px;
}

.recipieForm input[type="submit"] {
    margin: .5rem 1rem 2rem;
    border: none;
    padding: .8rem;
    border-radius: 6px;
    width: 96%;
    max-width: 400px;
    box-shadow: 1px 1px 4px #999;
    background-color: #A10702;
    color: #fceca6;
}

.recipieForm input[type="submit"]:hover {
    background-color: #1b2021;
    color: #77ba99;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A10702;
    color: #fceca6;
    width: 100%;
}

.yearMod {
    text-align: center;
}

/*picture cards small*/
section {
    margin: 2rem 1rem;
}

section a {
    display: block;
    text-align: center;
    color: #A10702;
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
    padding: 1rem;
}

section a:hover {
    color: #1b2021;
}

section p {
    margin-top: 0;
    color: #1b2021;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid 5px #77ba99;
    border-radius: 5px;
}

@media (min-width: 640px) {
    h1 {
        font-size: 2.5rem;
    }

    #menu {
        display: none;
    }

    .navigation a {
        display: inline;
        padding: 1rem 2rem 1rem 2rem;
        background-color: #fceca6;
        color: #A10702;
        text-decoration: none;
        padding: .5rem;
        border-radius: 2px;
        margin: 3px;
    }

    /*picture cards large*/
    section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #mainCard p,
    #mainCard a,
    #breadCard p,
    #breadCard a {
        grid-column: 2/3;
        grid-row: 1/2;
        padding-left: .5rem;
        text-align: left;
    }

    #dessertCard {
        grid-template-columns: 2fr 1fr;
    }

    #dessertCard p,
    #dessertCard a {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;
        padding-right: .5rem;
    }

    img {
        width: 250px;
    }

    section p {
        margin-top: 2rem;
    }

    section a {
        padding-top: 0;
    }
}

/* recipie cards */
.mainDishes img,
.dessertCards img,
.breadCards img {
    grid-column: 1/2;
    grid-row: 1/4;
}

.label {
    font-style: italic;
    font-weight: 600;
}

.ingredients {
    padding-top: 1rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.instructions {
    grid-column: 2/3;
    grid-row: 2/3;
}

.servings {
    grid-column: 2/3;
    grid-row: 3/4;
}

.mainDishes h3,
.dessertCards h3,
.breadCards h3 {
    padding: 0;
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
}